*{
    margin: 0;
    padding: 0;
}
.foot-background{
    width: 1190px;
    height: 100px;
    margin: 25px auto;
    background-image:url(../images/pinzhi.jpg)
}
.hr-1210{
    width: 1210px;
    margin: 0 auto;
    color: darkgrey;
}
.div-flex{
    margin: 0 auto;
    margin-top: 10px;
    width: 1190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../images/cat.png);
    background-repeat: no-repeat;
    background-position: 0px 123px;
}
.w105{
    width: 105px;
    height: 105px;
}
ul>li{
    list-style-type:none;
}
.font-20{
    font-size: 20px;
    font-weight: bold;
}
.hr-red{
    height: 1px;
    background-color: #ff0000;
    border: none;
}
.bgbk{
    background-color: black;
}
.w1190{
    margin: 0 auto;
    width: 1190px;
    height: 220px;
}
.font-12{
    padding-top: 10px;
    color: white;
    font-size: 12px;
}